

body {
    background: linear-gradient(90deg, rgba(39,65,66,1) 0%, rgba(38,69,51,1) 100%);
}

@media screen and (min-width: 750px) {
    /*Grid*/
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-flow: row;
        gap: 0px 0px;
        margin-left: 7vw;
        margin-right: 7vw;
        margin-top: 6vh;
        grid-template-areas:
    "main about"
    "main city"
    ". .";
    }
    /*////*/
    /*Fonts*/
    .mainDescription {
        font-size: 2em;
    }
    .mainFeelLikes {
        margin-top: 3vh;
        font-size: 1.7em;
    }
    .mainMaxMin {
        margin-top: 3vh;
        font-size: 1.7em;
    }
    /*/////*/
    .gridItemMain {
        margin-right: 2vw;
        height: 600px;
    }
    .gridItemAbout {
        margin-bottom: 2vw;
        width: 600px;
    }
    .gridItemCity {
        width: 600px;
    }
}

@media screen and (max-width: 992px) {
    /*Grid*/
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px 0px;
        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: 3vh;
        grid-template-areas:
      "main"
      "about"
      "city";
    }
    /*////*/
    /*Fonts*/
    .mainDescription {
        font-size: 1.4em;
    }
    .mainFeelLikes {
        margin-top: 3vh;
        font-size: 1.7em;
    }

    .mainMaxMin {
        margin-top: 3vh;
        font-size: 1.7em;
    }
    /*/////*/
    .gridItemMain {
        height: 350px;
        margin-bottom: 2vh;
    }
    .gridItemAbout {
        height: 250px;
    }
    .gridItemCity {
        height: 250px;
        margin-bottom: 12vh;
        margin-top: -10vh;
    }
    .main { grid-area: main; }
    .about { grid-area: about; }
    .city { grid-area: city; }
}


.gridItemMain {
    background-size: cover;
    grid-area: main;
}


/* Main */
.mainFont {
    font-family: 'Segoe UI', sans-serif;
    margin-left: 3vw;
}


.mainTemp {
    font-size: 4em;
}

.mainCity {
    font-size: 2em;
    margin-top: 2.5vh;
}


/*Wind*/
.windTxt {
    margin-top: 1.3vh;
    font-size: 1.6em;
}

.windHeader {
    margin-top: 1vh;
    margin-left: 1.4vw;
    font-size: 1.5em;
}

.select {
    /* other */
    display: flex;
    background: transparent;
    height: 5vh;
    width: 50%;
    cursor: pointer;

    /* text */
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.3em;
    text-align-last: center;
    text-align: center;

    /* remove the style from the browser */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;

    /* border*/
    border: 1px solid #7E9BBD;
    border-radius: 3px;
}

.select option {
    font-family: 'Segoe UI', sans-serif;
    font-size: 0.7em;
}

.blockSelect {
    margin-top: 4vh;
    display: flex;
    justify-content: center;
}


/* grid */
.gridItemAbout {
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.4px);
    -webkit-backdrop-filter: blur(2.4px);
    border: 1px solid rgba(255, 255, 255, 0.34);
    grid-area: about;
}
.gridItemCity {
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.34);
    grid-area: city;
}
